<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.title}}</title>
</head>
<body>
  <form action="/" method="POST" class="test-registration-form">
    <input type="text" name="firstname">
    <label for="firstname">Vorname</label>
    <input type="text" name="lastname">
    <label for="lastname">Nachname</label>
    <input type="submit">
    
  </form>
</body>
</html>
