<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <style>
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <h1>YEAH!</h1>
  Request successful, next go to {{.}}

</body>
</html>
